.wallet{
    width: 367px;
    height: 418px;
    margin: 0rem 0.75rem;
}
.wallet img{
    height: 238px;
    width: 367px;
}
.wallet h4{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.wallet p{
    margin-top: 12px;
    color: #5c7184;
}