.header{
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, hsla(0, 4%, 95%, 0.933), rgba(255,255,255,0.5)), url('../../Assets/images/Unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.header-content{
    width: 749px;
    /* height: 260px;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header-content h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 72px;
    margin: 0;
    text-align: center;
}
.header-content p{
    color: #5C7184;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    text-align: center;
}
.header-content button{
    width: 10rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background-color: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}