.footer{
    display: flex;
    flex-direction: column;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #f0f3f5;
}
.footer-component{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1101.21px;
    height: 256.22px;
}  
.footer-logo{
    width: 341.22px;
}
.footer-logo .logo{
    height: 65px;
    margin-bottom: 0;
}
.footer-component p{
    font-size: 14px;
    color: #5c7184;
}
.footer-logo .google{
    width: 271.59px;
    height: 47.22px;
}
.footer-component h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1d242a;
    margin: 0;
}
.footer-copy{
    height: 60px;
    align-self: center;
    font-size: 14px;
    line-height: 20px;
    color: #1d242a;
}
