.newsletter{
    height: 586px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfe8fc;
    width: 1169px;
    height: 416px;
    border-radius: 20px;
}
.newsletter-preview{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 989px;
    height: 262px;
}
.newsletter-text{
    width: 579px;
    height: 238px;
}
.newsletter-text h4{
    font-size: 20px;
    font-weight: 700;
    color: #2196f3;
    margin-bottom: 0;
}
.newsletter-text h2{
    font-weight: 600;
    font-size: 40px;
    margin-top: 8px;
}
.newsletter-text p{
    font-size: 16px;
    line-height: 24px;
    color: #757095;
}
.newsletter-signup{
    width: 330px;
    height: 262px;
}
.newsletter-signup h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2196f3;
}
.newsletter-form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.newsletter-form input{
    height: 52px;
    padding: 16px 16px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 24px;
}
.newsletter-form .inpuut{
    margin-bottom: 12px;
}
.newsletter-signup button{
    height: 52px;
    width: 330px;
    border-radius: 8px;
    background-color: #2196f3;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}