.newsletter{
    /* height: 586px; */
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.newsletter-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #cfe8fc;
    /* width: 1169px; */
    padding: 5rem;
    /* height: 416px; */
    border-radius: 20px;
}
.newsletter-preview{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    /* width: 989px; */
    /* height: 262px; */
}
.newsletter-text{
    /* width: 36rem; */
    height: 17rem;
    /* margin-right: 5rem; */
}
.newsletter-text h4{
    width: 30rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #2196f3;
    margin-bottom: 0;
    text-align:start;
    margin-top: 0;
}
.newsletter-text h2{
    width: 30rem;
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
.newsletter-text p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #757095;
    /* margin-bottom: 2rem; */
}
.newsletter-signup{
    /* width: 330px;
    height: 262px; */
    margin-left: 5rem;
}
.newsletter-signup h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2196f3;
}
.newsletter-form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.newsletter-form input{
    height: 52px;
    padding: 16px 16px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 24px;
}
.newsletter-form .inpuut{
    margin-bottom: 12px;
}
.newsletter-signup button{
    height: 52px;
    width: 330px;
    border-radius: 8px;
    background-color: #2196f3;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}