.trade{
    /* height: 351px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem 0rem;
}
.trade-content{
    width: 930px;
    /* height: 216px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.trade-content h3{
    font-size: 40px;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
    margin: 0;
}
.trade-content button{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-top: 24px;
}
