.material{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 5rem 0rem;
}
.material h3{
    color: #1d242a;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 4rem;
}
.material p{
    color: #5c7184;
    font-size: 1rem;
    line-height: 1.5rem;
}
.material-wallet{
    display: flex;
    margin: 3rem 0rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.material button{
    width: 203px;
    height: 64px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    color: white;
    background-color: #2196f3;
}