.feature{
    /* height: 720px; */
    margin: 5rem 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.feature01 img{
    width: 465px;
    height: 588px;
}
.feature-text{
    width: 579px;
    /* height: 354px; */
    margin: 1.5rem 2rem;
}
.feature01{
    /* width: 1140px;
    height: 588px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.feature-text h4{
    font-weight: 700;
    font-size: 20px;
    color: #2196f3;
    margin-bottom: 0;
}
.feature-text h3{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    line-height: 64px;
}
.feature-text p{
    font-size: 16px;
    line-height: 24px;
    color: #5c7184;
    width: 512px;
    /* height: 96px; */
}
.feature-text button{
    width: 157px;
    height: 56px;
    border-radius: 8px;
    background-color: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 1.5rem 0rem;
}