.landing-top{
    /* height: 670px; */
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-top02{
    width: 661px;
    /* height: 488px; */
    margin-left: 82px;
}
.landing-top02 h4{
    padding-top: 61px;
    font-size: 20px;
    font-weight: 400;
    color: #2196f3;
    margin-bottom: 12px;
}
.landing-top02 h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 72px;
    margin-bottom: 12px;
}
span{
    color: #2196f3;
}
.landing-top02 p{
    color: #5c7184;
    font-size: 16px;
    line-height: 24px; 
}
.landing-top03{
    margin-top: 40px;
}
.landing-top03 button{
    width: 180px;
    height: 64px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    margin-bottom: 64px;
}
.button1{
    color: white;
    background-color: #2196f3;
    margin-right: 10px;
}
.button2{
    background-color: white;
    color: #2196f3;
}
.support{
    padding-top: 12px;
    width: 162px;
    height: 40px;
}
.dashboard{
    width: 40rem;
    height: 35rem;
}
